/* saumon logo : #F5CA99 */
/* rouge logo : #E95846 */
/* faded denim blue: #778FA8 */
/* faded turquoise blue: #7799a8 */
/* faded petrol blue : #2c3949 */
/* faded off-white blue : #ecf9ff */
/* faded clear sky blue : #daf4ff */

/* 
font-family: 'Cabin Sketch', cursive;

font-family: 'Cabin', sans-serif;
400, 400i

font-family: 'Raleway', sans-serif;
700,700i
*/

  :root {
    font-size: 62.5%;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #2c3949;
    font-family: 'Cabin', sans-serif;
    color: #cde4ff;
    /* font-size: calc (21px + (30 - 21) * ((100vw - 768px) / (1600 - 768))); */
  }
  /*Avec la fonction font-size: calc*/
  /* @media screen and (max-width: 768px) { body { font-size: 21px; } } 
  @media screen and (min-width: 1600px) { body { font-size: 30px; } }  */
  h1, h2, h3, h4, h5, h6, p {
    font-size: unset;
    font-weight: normal;
    margin-block-start: unset;
    margin-block-end: unset;
  }
  li {
    margin-bottom: 15px;
    list-style-type: none;
  }
  .uppercase-word {
    text-transform: uppercase;
  }
  .minimize-word {
    font-size: small;
  }
  
  /* .home-container { */
    /* height: 70%; */
    /* margin: 0 0 7% 0; */
    /* padding: 0 7% 0 7%; */
    /* background-image: url(../images/bg-top-blk.jpg);
    opacity: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* background-color: #2c3949; */
  /* } */

  /* !!!!!! NAVBAR !!!!!! */
  /* Navbar Mobile*/
  @media screen and (min-width: 320px) and (max-width: 768px){
    .navbar-desk {
      display: none;
    }
    /* The overlay background */
    .navbar-overlay {
      /* height: 0; & width: 100%; & overflow-y: hidden; in place of overflow-x = the overlay appear from left to right */   
      height: 100%;
      width: 0;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      background-color: #3f5268;
      /* background-color: rgb(0,0,0); Black fallback color */
      /* background-color: rgba(0,0,0, 0.9); Black w/opacity */
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    /* Position the content inside the overlay */
    .navbar-overlay-content {
      position: relative;
      top: 25%; /* 25% from the top */
      width: 100%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    /* The navigation links inside the overlay */
    .navbar-overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
    }
    /* When you mouse over the navigation links, change their color */
    .navbar-overlay a:hover, .navbar-overlay a:focus {
      color: #f1f1f1;
    }
    /* Position the close button (top right corner) */
    .navbar-overlay .navbar-cross {
      position: absolute;
      right: 50px;
      top: 13px;
      /* right: 50%;
      top: 130px; */
      width: 32px;
      height: 32px;
    }
    .navbar-overlay .navbar-cross:hover {
      opacity: 1;
    }
    .navbar-overlay .navbar-cross:before, .navbar-overlay .navbar-cross:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #FFFFFF;
    }
    .navbar-overlay .navbar-cross:before {
      transform: rotate(45deg);
    }
    .navbar-overlay .navbar-cross:after {
      transform: rotate(-45deg);
    }
  }
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  /* @media screen and (max-height: 450px) {
    .navbar-overlay a {font-size: 20px}
    .navOoverlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } */
  .navbar-mobile{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    /*     justify-content: space-between;
    align-content: flex-end;
    align-items: center; */
  }
  .navbar-trigger{
    position: relative;
    width: 26px;
    height: 18px;
    transition: .3s ease-out;
    z-index: 2;
    cursor: pointer;
  }
  .navbar-triggerTopRight, .navbar-triggerMiddle, .navbar-triggerBottomLeft{
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #cde4ff;
  }
  .navbar-triggerTopRight{
      top: 0;
  }
  .navbar-triggerMiddle{
      top: 50%;
      transform: translateY(-50%)
  }
  .navbar-triggerBottomLeft{
      bottom: 0;
  }
  /* FIN Navbar mobile */
  /* Navbar desk*/
  @media screen and (min-width: 769px) {
    .navbar-mobile {
      display: none;
    }
    /* Add a black background color to the top navigation */
    .navbar-desk {
      display: flex;
      justify-content: center;
      background-color: #2c3949;
      overflow: hidden;
    }
    /* Style the links inside the navigation bar */
    .navbar-desk a {
      /* float: left;
      display: block; */
      width: 115px;
      margin: 20px 15px;
      padding: 10px 15px;
      border-radius: 15px;
      background: #2c3949;
      box-shadow: -10px 10px 20px #1d252f, 
                  10px -10px 20px #3b4d63;
      font-size: 1.5rem;
      text-align: center;
      text-decoration: none;
      color: #e6f1ff;
    }
    /* Change the color of links on hover */
    .navbar-desk a:hover {
      border-radius: 15px;
      background: linear-gradient(225deg, #2f3d4e, #283342);
      box-shadow: -10px 10px 20px #1d252f, 
                  10px -10px 20px #3b4d63;
      color: #e6f1ff;
      text-decoration: none;
    }
    /* Add an active class to highlight the current page */
    .navbar-desk a.active {
      border-radius: 15px;
      background: #2c3949;
      box-shadow: inset -10px 10px 20px #1d252f, 
                  inset 10px -10px 20px #3b4d63;
      color: #cde4ff;
      text-decoration: none;
    }
  }
  /* FIN Navbar desk*/
  /* !!!!!! FIN NAVBAR !!!!!! */

  .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home-text1 {
    margin: 15px 0;
    font-size: 2.8rem;
    color: #FFF;
    text-transform: uppercase;
  }
  /* .home-text2 {
    margin: 15px 0;
    font-size: 2.8rem;
    color: #FFF;
    text-transform: uppercase;
  } */
  .home-text2 {
    margin: 15px 0 5px;
    font-size: 2rem;
    color: #FFF;
  }
  .home-text3 {
    margin: 10px 0 5px;
    font-size: 2rem;
    line-height: 1.5;
    color: #FFF;
  }
  .home-button {
    border-radius: 15px;
    background: #2c3949;
    box-shadow: -10px 10px 20px #1d252f, 
                10px -10px 20px #3b4d63;
    color: #e6f1ff;
    margin: 20px 0;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .home-button:hover{
    border-radius: 15px;
    background: linear-gradient(225deg, #2f3d4e, #283342);
    box-shadow: -10px 10px 20px #1d252f, 
                10px -10px 20px #3b4d63;
    color: #cde4ff;
  }
  
  /* Content Boxes*/

  /* Slideshow container */
  .slideshow-flex-a {
    /* max-width: 768px;
    min-height: 551px; */
    margin: auto;
    display: flex;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    margin: 0 15px 0 15px;
    padding: 0 15px 0 15px;
    order: 1;
  }

  .prev {
    /* display: flex; */
    order: 0;
  }

  /* Next & previous buttons */
  .prev, .next {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* position: absolute; */
    /* top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px; */
    color: #373737;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    /* right: 0; */
    border-radius: 3px 0 0 3px;
    order: 99;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    text-decoration: none;
    /* background-color: rgba(0,0,0,0.8); */
  }

  /* Caption text */
  .slideshow-text {
    color: #373737;
    font-size: 1.5rem;
    padding: 8px 12px;
    /* position: absolute; */
    bottom: 200px;
    width: 100%;
    text-align: center;
    /* vertical-align: middle; */
  }

  .slideshow-img {
    height: 208px;
    display: flex;
    justify-content: center;
  }

  /* .textSlide1 {
    background-image: url(../images/salon-woman.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .textSlide2 {
    background-image: url(../images/object-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .textSlide3 {
    background-image: url(../images/office-woman.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  } */

  /* Number text (1/3 etc) */
  .numbertext {
    color: #373737;
    font-size: 1.5rem;
    padding: 8px 12px;
    /* position: absolute; */
    top: 0;
    text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .works-container {
    background-color: #9F9FA6;
    width: 75%;
    margin: 2% 12.5%;
    box-shadow: 0 0 4px 4px rgba(233, 89, 70, 0.514);
    border-radius: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .heading {
    font-size: 2rem;
    line-height: 2;
    color: #fff;
  }
  
  .main-text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10% 0 20%;
  }

  .main-text-speech-1, .main-text-speech-2, .main-text-speech-3 {
    display: grid;
    grid-template-columns: 50% 50%;
    /* display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10% 0 20%; */
  }

  .main-text-speech-4 {
    display: grid;
    grid-template-columns: 100%;
  }

  .main-img {
    padding: 3% 5%;
    width: 100%;
  }

  /* unvisited link */
  a:link {
    /* color: #E95846; */
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    /* color: #F97863; */
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    /* color: #D8402F; */
    text-decoration: underline;
  }

  /* selected link */
  a:active {
    /* color: #F5CA99; */
    text-decoration: underline;
  }
  
  /* Footer  */
  
  .footer-container {
    /* background-image: url(../images/bg-bottom-blk.jpg);
    opacity: 90%;
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: #2c3949;
    width: 100%;
    z-index: 1;
    padding: 5% 0 5% 0;
    margin: 8% 0 0 0;
    color: #fff;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 5% 0 5%;
  }

  .fab-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 15% 0 0 0;
  }
  
  .email {
    margin: 0 0 15% 0;
  }
  
  .footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10% 0 10%;
  }
  
  /* .footer-img {
    padding-right: 4%;
  } */
  
  /* .list { */
    /* justify-items: center; */
    /* align-items: center; */
    /* position: relative; */
    /* désactivé depuis longtemps bottom: 5%; */
  /* } */
  
  /* .icons {
    padding: 5%;
  } */
  
  .fab {
    font-size: 1.75rem;
    /* padding: 10%; */
    padding: 0 33% 0 33%;
    margin: 0 10% 0 10%;
    position: relative;
    bottom: 25%;
    color: #fff;
  }

  .mail {
    color: #fff;
    text-decoration: underline #fff;
  }

  /* .cpright {
    text-align: right;
    font-size: 1rem;
  } */

  /* @@@@@@ MEDIA QUERIES @@@@@@ */
  @media screen and (min-width: 320px) and (max-width: 768px) {
  
    /* .home-container { */
      /* background-image: url(../images/bg-top-blk.jpg);
      opacity: 90%; */
      /* background-color: #2c3949;
      padding: 0;
    } */
  
    /* .home-text {
      margin:10px 0 40px 0;
    } */
    .home-text1 {
      font-size: 2.4rem;
      /* margin: 40px 0; */
    }
    /* .home-text2 {
      font-size: 1.8rem;
      margin: 15px 0;
    } */
    .home-text2 {
      font-size: 1.6rem;
      /* margin: 25px 0 5px; */
    }
    .home-text3 {
      font-size: 1.6rem;
      /* margin: 5px 0 15px 0; */
    }

    .slideshow-img {
      height: 104px;
    }

    .main-text {
      grid-area: text;
    }
  
    .main-img {
      grid-area: image;
    }
  
    .grid {
      grid-template-columns: 100%;
      grid-template-areas: "text";
    }
  
    .works-container {
      min-height: 500px;
    }
  
    .heading, .main-text, .main-img, .footer-text/*, .top-heading, .cpright*/ {
      text-align: center;
    }
  
    .main-text, .main-img {
      align-items: center;
      padding: 10% 5%;
    }

    .footer-container {
      background-color: #373737;
      padding: 0;
    }
    .footer-grid {
      display: block;
      padding: 0;
      margin: 15% 0 0;
    }
    .footer-text {
      align-items: center;
      padding: 0 4% 5% 4%;
    }
    .footer-item {
      margin: 0 2.5% 0 2.5%;
    }

    ul {
      padding: 0;
    }
  
    .email {
      font-size: 17px;
    }
  
    .list {
      padding: 0;
      margin: 0;
    }
  
    li:last-child {
      margin-bottom: 0;
    }
  
    .icons {
      justify-content: center;
    }
  
    /* .cpright {
      font-size: 0.9rem
    } */
  }